/* @media screen {
    .print-date {
        display: none;
    }
} */

.barcodes {
    margin-top: 1rem;
}
.barcode {
    display: block;
    margin-bottom: 1rem;
}

@media print {
    .noPrint { display: none;}
    .print-date {
        display: block;
    }
} 