html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
.barcodes {
    /* margin-top: 1rem; */
}
.barcode {
    display: block;
    margin-bottom: 12px;
}

@media print {
    .noPrint { display: none;}
    .print-date {
        display: block;
    }

   .col-sm-12 {
       float: left !important;
       width: 50% !important;
       max-width: 50%;
   }

} 